/* 
    Document   : styles
    Created on : 23 Dec, 2010, 10:34:52 PM
    Author     : bv
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

root { 
    display: block;
}

