<!DOCTYPE html>
<html>
<head>
  <title>FbTestApp</title>
  <%= stylesheet_link_tag 'styles' %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>
<body>
<div id="fb-root"></div>

<%= yield %>

</body>
</html>
